.div-audios {
    display: flex;
    flex-flow: column nowrap;
}

.img-seccion{
    object-fit: contain;
    width: 13%;
    height: 13%;
    margin-top: 3rem;
}

.div-img{
    text-align: center;
}

.container-audios{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.div-audio{
    // margin: auto;
    display: flex;
    flex-flow: column nowrap;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 350px;
    background-color: #fff;
    padding: 4px;
    border-radius: 6px;
    & h3 {
        text-align: center;
        color: $colorTitle;
        margin-bottom: 4px;
    }

    & audio {
        // padding: 3px;
        margin: auto;
    }
}

.btn-delete-audio{
    border: none;
    border-radius: 10px;
    font-size: 100%;

    &:hover {
        cursor: pointer;
    }

    & i{
        color: red;
    }
}