.div-chats {
    display: grid;
    grid-template-columns: 30% 70%;
    margin: 8px;

    &-admin {
        display: flex;
        flex-flow: row wrap;
    }

    &-form{
        margin: auto;
        margin-right: 2rem;
    }

    &-users{
        display: flex;
        flex-flow: column nowrap;
        margin: 0 8px;
        width: 400px;
        height: 300px;
        background-color: #f3f3f3;
        padding: 4px;
        border-radius: 7px;
        overflow: auto;

        & h2{

        }

        &-admin {
            height: 300px;
            overflow: auto;

            & h2{
                text-align: justify;
                font-family: 'Playfair Display', serif;
                font-size: 98%;
            }
        }
    }

    &-user {
        text-align: justify;
        background-color: #f1f0f0d3;
        padding: 3px;
        border-radius: 5px;
        margin: auto;
        margin-top: 4px;
        margin-bottom: 4px;
        white-space: normal;

        &-all {
            text-align: justify;
            background-color: #ccc;
            padding: 3px;
            border-radius: 5px;
            margin: auto;
            margin-top: 4px;
            margin-bottom: 4px;
            white-space: normal;
            width: 80%;
            font-size: 90%;
        }
    }
}

.div-all-chats {
    display: flex;
    flex-flow: row wrap;
    justify-items: center;

    &-admin {
        width: 30%;
        background-color: #f3f3f3;
        margin: 0 1rem;
        padding: 4px;
        border-radius: 4px;
    }
}

.div-form-chat {
    background-color: #f1eded;
    padding: 3px;
    width: fit-content;
    border-radius: 9px;

    &-admin {
        width: fit-content;
        margin: auto;
        background-color: #f1eded;
        padding: 3px;
        margin-top: 0.7rem;
        border-radius: 9px;
    }
}

.btn-msg{
    border: none;
    padding: 4px;
    background-color: #361bd1;
    color: #ffffff;
    border-radius: 5px;

    &:hover{
        cursor: pointer;
    }
}

.boton-eliminar {
    background-color: red;
    border: none;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
  
  .cruz-roja {
    font-size: 20px;
    font-weight: bold;
  }

  .titlename {
    text-align: justify;
    font-family: 'Playfair Display', serif;
    font-size: 98%;
  }