.div-chats {
    display: flex;
    flex-flow: column nowrap;
    // margin: 8px;

    &-admin {
        display: flex;
        flex-flow: row wrap;
    }

    &-form{
        // margin: auto;
        // margin-right: 2rem;
        width: 97%;
        margin: auto;
        // border: 2px solid black;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        background-color: rgb(89, 66, 112);

        & h3{
            text-align: center;
            margin-top: 5px;
            color: rgba(255, 255, 255, 0.829);
        }

    }

    &-users{
        display: flex;
        flex-flow: column nowrap;
        background-color: #594270;
        // text-align: justify;
        // background-color: #f1f0f0d3;
        width: 500px;
        height: fit-content;
        max-height: 500px;
        overflow: auto;
        padding: 3px;
        border-radius: 5px;
        
        &::-webkit-scrollbar {
            width: 7px;
            // margin: 4px;
        }
        
        &::-webkit-scrollbar-thumb{
            // margin-right: 3px;
            padding: 3px;
            border-radius: 4px;
            background: #faf6f6b6;
        }

        &-header{
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            justify-items: center;
            align-items: center;
            // flex-direction:row-reverse;
            width: 100%;

            & h3{
                text-align: center;
                color: rgba(255, 255, 255, 0.829);;
            }

            & button{
                align-self: flex-end;
                border: none;
                padding: 0;
                background-color: transparent;
                // margin: auto;
                align-self: flex-end;

                &:hover{
                    cursor: pointer;
                }
                & i{
                    font-weight: bold;
                    font-size: 130%;
                    color: red;
                    align-self: flex-end;
                }
            }
        }

        &-admin {
            height: 300px;
            overflow: auto;

            & h2{
                text-align: justify;
                font-family: 'Playfair Display', serif;
                font-size: 98%;
            }
        }
    }

    &-user {
        text-align: justify;
        background-color: #f1f0f0d3;
        padding: 3px;
        white-space: normal;
        transition: all 0.3s;

        &:hover{
            box-shadow: inset -6px -6px 16px rgba(7, 17, 27, .1);
        }

        & div{
            display: flex;
            flex-flow: row wrap;
            & strong{
                color: rgb(89, 66, 112);
                text-transform: capitalize;
            }
        }


        &-all {
            display: flex;
            flex-flow: column nowrap;
            // text-align: justify;
            background-color: #f1f0f0d3;
            padding: 3px;
            white-space: normal;
            transition: all 0.3s;
            // margin: auto;
            width: 100%;
            font-size: 90%;

            &:hover{
                box-shadow: inset -6px -6px 16px rgba(7, 17, 27, .1);
            }

            & strong{
                text-transform: capitalize;
                color: #594270;
            }
        }
    }
}

.div-each-msg{
    display: flex;
    flex-flow: column nowrap;
    height: fit-content;
    max-height: 350px;
    overflow: auto;
    padding: 8px;

    &::-webkit-scrollbar {
        width: 7px;
    }
    
    &::-webkit-scrollbar-thumb{
        border-radius: 4px;
        background: #faf6f6b6;
    }
}

.div-no-msgs{
    // margin: auto;
    margin-top: 14px;

    & p{
        text-align: center;
        color: #ffffff9c;
        font-weight: bold;
    }
}

.div-all-chats {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 20px;
    margin-top: 12px;


    &-admin {
        width: 30%;
        background-color: #f3f3f3;
        margin: 0 1rem;
        padding: 4px;
        border-radius: 4px;
    }
}

.div-form-chat {
    display: flex;
    flex-flow: row nowrap;
    background-color: #efc4f3e1;
    margin-top: 8px;
    padding: 5px;

    gap: 10px;

    & input{
        width: 90%;
        padding: 4px;
        border-radius: 3px;
        border: none;
    }

    &-admin {
        width: fit-content;
        margin: auto;
        background-color: #f1eded;
        padding: 3px;
        margin-top: 0.7rem;
        border-radius: 9px;
    }
}

.btn-msg{
    border: none;
    padding: 2px;
    background-color: #361bd1;
    color: #ffffff;
    border-radius: 3px;
    width: fit-content;
    width: 10%;

    &:hover{
        cursor: pointer;
    }
}

.boton-eliminar {
    background-color: red;
    border: none;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  }


  .titlename {
    text-align: justify;
    font-family: 'Playfair Display', serif;
    font-size: 98%;
  }

  .hidden{
    display: none;
  }

  .btn-show-conversation{
    width: fit-content;
    margin: auto;
    border: none;
    padding: 0;
    margin-top: 4px;
    font-weight: bold;
    color: #ffffff;
    background-color: transparent;
    text-align: center;
    &:hover{
        cursor: pointer;
    }
}

.div-btns-showcontent{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 12px;
    margin-bottom: 2rem;
}

.btn-chat{
    border: none;
    padding: 8px;
    border-radius: 3px;
    background-color: #391a58;
    color: #f1eded;

    &:hover{
        cursor: pointer;
    }
}

.btn-pressed{
    background-color: #391a586c;
}

.btn-delete-msg{
    border: none;
    background-color: transparent;
    align-self: flex-end;
    & i{
        color: red;
    }

    &:hover{
        cursor: pointer;
    }
}

.btn-close-chat{
    color: rgb(236, 109, 109);
    font-weight: bold;

}

.text-chat{
    background-color: #fff;
    width: 60%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 3rem;
    padding: 8px;
    border-radius: 6px;
}