@import '../animations/animations.scss';

.body-home{
    display: flex;
    flex-flow: column nowrap;
}

.panel-user {
    background-color: #f9f9f9;
    padding: 3px;
    border-radius: 4px;

    &-link {
        color: $colorLinks;
        transition: all 0.3s;
        font-size: 16px;

        &-register {
            color: $colorLinks;
            transition: all 0.3s;
            font-size: 12px;
        }

        &:hover {
            color: $colorLinksHover;
        }
    }
}

.icon-chat{
    font-size: 30px;
    text-align: center;
    color: #594270;
}

.div-parrafo-pdf {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 4rem;
    margin-bottom: 2rem;

    &-chat {
        display: flex;
        flex-flow: column nowrap;
        align-self: flex-end;

        bottom: 10px;
        right: 10px;

        margin-right: 7px;
        position: fixed;
        animation: heartbeat 2.5s infinite;


        & span {
        font-size: 14px;
        background-color: #fff;
        padding: 4px;
        border-radius: 6px;
        }
    }
}

.parrafo {
    text-align: center;
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 3rem;

    &-principal {
        text-align: justify;
        font-family: 'Lato', sans-serif;
        font-size: 1rem;
        color: #333;
        line-height: 1.6;
        margin-bottom: 0;
    }

    &-pdf {
        text-align: center;
        grid-area: texto;
    }
}

.icon-menu {
    background-color: #f9f9f9;
    padding: 3px;
    border-radius: 4px;
}

.div-footer {
    text-align: center;

    & img {
        object-fit: contain;
    }
}