.nav-hamburger {
    display: none;
    cursor: pointer;
}

.hamburger-line {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
    transition: background-color 0.3s ease;
}

@media screen and (max-width: 802px) {
    .admin-bar{
        flex-flow: column nowrap;

        &-li{
            width: 100%;
        }
    }
}

@media screen and (max-width: 723px) {

    .container-audios{
        gap: 10px;
    }

    .parrafo{
        padding: 8px;

    }


    .nav-hamburger {
        display: block;
    }
    #navMenu {
        display: none;
        opacity: 0;
        transform: translateY(-10px);
        transition: opacity 0.3s ease, transform 0.3s ease;
        
    }
    
    #navMenu.open {
        display: block;
        opacity: 1;
        transform: translateY(0);
    }
}


@media screen and (max-width: 701px) {

    .pdf-section {
        display: flex;
        flex-flow: column;

        &-show {
            margin: auto;
        }
    }

    .container-img {
        width: 40%;
        height: 40%;
        margin: auto;
    }
}

@media screen and (max-width: 666px){
    .div-form-chat {
        margin: auto;
    }

    .div-chats {
        display: flex;
        flex-flow: column wrap;
        margin: auto;

        &-form {
            width: unset;
            margin: 7px;
        }

        &-user {
            width: unset;
        }
    }

    .div-all-chats {
        margin: auto;
        margin-top: 3rem;
    }

    .div-chats-admin {
        flex-flow: column wrap;
        margin: auto;
    }   

    .div-all-chats-admin {
        width: unset;
        margin: 15px 0;
    }
}

@media screen and (max-width: 599px) {

    .pdf-section-show{
        gap: 10px;
    }

    .pdf-section-each{
        width: 100%;
        margin: 0;
    }
}

@media screen and (max-width: 516px) {
    .container-coments {
        width: unset;
    }

    .navbuttons{

        &-bar{
            flex-flow: column nowrap;

        }
        &-li{
            width: 100%;
        }
    }
}

@media screen and (max-width: 478px){
    .form-coment-details {
        font-size: 70%;
        margin: auto;
        width: unset;
    }

    .pdf-section-each {
        // margin: 10px;

        gap: 10px;

    }

    .p-nocoments {
        font-size: 70%;
        text-align: center;
    }

    .pdf-section-coments {
        font-size: 70%;
        
        & p {
            text-align: unset;
        }
    }
}

@media screen and (max-width: 456px) {
    .pdf-section-show {
        grid-template-columns: 50% 50%;
    }
}

@media screen and (max-width: 408px) {
    .pdf-section-coments {
        font-size: 80%;
    }

    .parrafo-pdf {
        font-size: 90%;
    }

    .parrafo {
        padding: 5px;
        width: 80%;
        // &-principal{
        //     font-size: 80%;
        // }
    }
}

@media screen and (max-width: 336px) {
    .btn-message {
        text-align: center;
    }
}

@media screen and (max-width: 320px) {
    .div-all-chats {
        margin-top: 10px;
    }


    .pdf-section-each {
        margin: auto;
        // width: 100%;
        // flex-flow: column wrap;
        margin-top: 8px;
        margin-bottom: 8px;
        
    }
}