
.container-img{
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        max-height: 80vh;
        overflow: hidden;
        & img{
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
        }
    }


.pdf-section {
    display: grid;
    grid-template-columns: 80% 20%;

    &-show {
        display: flex;
        flex-flow: row wrap;
    }

    &-coments {
        text-align: justify;
        background-color: #e2e2ec;
        padding: 3px;
        border-radius: 5px;
        margin: 4px;
        max-width: 100%;
        white-space: normal;

        & p{
            max-width: 100%;
            word-wrap: break-word;
        }

        &-all{
            text-align: justify;
            background-color: #c3c3c334;
            padding: 3px;
            border-radius: 5px;
            margin: auto;
            margin-top: 4px;
            margin-bottom: 4px;
            width: 100%;
            white-space: normal;
            
            & p{
                max-width: 100%;
                word-wrap: break-word;
    
                & strong {
                    max-width: 100%;
                }
            }

        }
    }

    &-each {
        display: flex;
        flex-flow: row wrap;
        border: 1px solid #ccc;
        box-shadow: 1px 1px 2px #494949;
        padding: 5px;
        background-color: #f3f3f3;
        border-radius: 5px;
        width: 25%;
        margin: 10px;
        justify-items: center;

        &-header{
            text-align: center;
            margin: auto;
            font-size: 67%;
        }

        h5 {
            margin: 0;
            font-size: 18px;
            color: #2e0b44 ;
        }

        p{
            // text-align: end;
         & a {
            color: #3c3ead;
            transition: all 0.3s;
            font-size: 112%;
            font-weight: bold;

            &:hover{
                color: #484ad83b;
            }
        }}
    }
}


.coment {
    &-name {
        color: #575757;
    }

    &-date {
        font-size: 60%;
        text-align: right;
    }
}


.div-form-coment {
    margin-top: 1.3rem;
    margin: auto;

    &-details {
        margin: 2rem 0;
        border-radius: 2px;
    }
}

.btn-coment{
    text-align: center;
    margin-top: 7px;

    & button{
        padding: 8px 16px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
            background-color: #0056b3;
        }
    }
}

.p-nocoments {
    margin: auto;
}

.p-nopdf {
    text-align: center;
    margin: auto;
}

.form-coment{
    max-width: fit-content;
    display: flex;
    flex-flow: column;
    margin: auto;

    &-details{
        text-align: start;
        margin: auto;
        background-color: #f9f9f9;
        width: fit-content;
        padding: 6px;

        & label {
            font-weight: bold;
        }
        
        & input[type="text"] {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
          }
    }
        &-div{
            display: flex;
        }
}

.btn-pdf-details{
    background-color: black;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1rem;
}

.btn-delete-pdf {
    border: none;
    border-radius: 10px;
    font-size: 120%;

    &:hover {
        cursor: pointer;
    }

    & i{
        color: red;
    }
}

.container-coments {
    background-color: #f3f3f3;
    padding: 12px;
    margin: auto;
    width: 500px;
}

.btn-response {
    border: none;
    background-color: #e7dede;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 60%;
    align-content: end;
}

.div {
    &-response{
        display: flex;
        flex-direction: row-reverse;
        margin-right: 6px;
        margin-top: 6px;

        &-input {
            display: flex;
            padding: 9px;
            & input {
                width: 100%;
            }

            & button {
                border: none;
                padding: 4px;
                border-radius: 5px;
                background-color: rgb(39, 190, 39);
                color: #f3f3f3;
                cursor: pointer;
            }
        }

        &-text {
            background-color: #e6e0e0;
            max-width: fit-content;
            padding: 5px;
            border-radius: 4px;

            & p {
                font-size: 90%;
            }
        }
    }
}