.btnuploadaudio {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover{
        background-color: #45a049;
    }
}


.erroraudio span{
    color: #f44336;
    font-size: 14px;
    margin-top: 10px;
}