.div-all-videos{
    display: flex;
    flex-flow: row wrap;
    gap: 16px;
}

.div-video{
    display: flex;
    flex-flow: column nowrap;
    width: fit-content;
    align-items: center;
    justify-content: space-between;

    background-color: #fff;
    padding: 8px;
    border-radius: 6px;
    text-align: center;
    margin: auto;

    &-details{
        & video{
            max-width: 320px
            
        }
    }

    & div{
        & p{
            color: #594270;
        }
    }

    & a{
        color: #594270;
        transition: all 0.4s;

        &:hover{
            font-weight: bold;
            color: #59427081;
        }
    }
    
}

.div-no-videos{

    & p{
        text-align: center;
    }
}