<div>
    <nav>
        <ul class="navbuttons">
                <li>
                    <button class="btnnav" onclick="navegar('/')"><a href="/" class="btnnav-a">Inicio</a></button>
                </li>
            <li>
                <button class="btnnav" onclick="navegar('/book')"><a href="/book" class="btnnav-a">Libro</a></button>
            </li>
            <li class="dropdown">
                <button class="dropdown-button">Escritos del alma</button>
                <ul class="dropdown-content">
                    <li><a href="/escritosconmagia" class="actual">Escritos con magia</a></li>
                    <li><a href="/caminodelasanacion">El camino de la sanación</a></li>
                    <li><a href="/loquesomos">Lo que somos</a></li>
                    <li><a href="/noblesverdades">Nobles verdades</a></li>
                </ul>
            </li>
            <li>
                <button class="btnnav" onclick="navegar('/audios')"><a href="/audios" class="btnnav-a">Audios</a></button>
            </li>
        </ul>
    </nav>
    <div class="pdf-section">
        {{#if escritos}}
        {{#each escritos}}
        <div class="pdf-section-each">
            <h5>{{this.title}}</h5>
            <p>Ver pdf <a href="{{this.path}}">{{this.title}}</a></p>
            {{!-- <div id="">
                <script>

                </script>
            </div> --}}
        </div>
        {{/each}}
        {{else}}
        <p>Todavía no hay pdfs</p>
        {{/if}}
    </div>
</div>