<div>
    {{> navbar admin=admin userlogued=userlogued}}
    <div class="div-audios">
            <div class="div-img">
                <img src="/images/apartado-frases-para-meditar.jpg" alt="" class="img-seccion">
            </div>
            <div class="parrafo">
                <p class="parrafo-principal">Aquí les comparto frases muy breves para que las lleves al corazón cada día y sientas cada palabra. Quizás ayudan a comenzar el proceso de cambio que nos guiará a la paz interior.</p>
            </div>
        {{> pagination hasPrevPage=hasPrevPage hasNextPage=hasNextPage prevPage=prevPage nextPage=nextPage backPages=backPages nextPages=nextPages pages=pages}}
        <div class="container-audios">
            {{#if frases}}
            {{#each frases}}
            <div class="div-audio">
                <p>{{this.frase}}</p>
            </div>
            {{/each}}
            {{else}}
            <div>
                <p>Todavía no hay frases</p>
            </div>
            {{/if}}
        </div>
    </div>
</div>

{{> chatbtn}}
{{> footer}}
