<div class="body-home">
    <div class="div"><img src="static/images/cieloatardecer.webp" alt="atardecer" height="150" class="div-imgnav"></div>
    {{> navbar admin=admin userlogued=userLogued}}


    <h1>Luz en el camino</h1>
    <div class="div-parrafo-pdf">

        <div class="div-parrafo-pdf-texto">
            <p class="parrafo-pdf">El inicio del camino... <a class="panel-user-link"
                    href="https://luzenelcaminopdfs.s3.us-east-2.amazonaws.com/La+noche+oscura.pdf">La noche oscura <i
                        class="bi bi-filetype-pdf"></i></a>
            </p>
        </div>
    </div>
    <div class="parrafo" id="texto-container">
        <p class="parrafo-principal" id="texto">Esta página es un espacio que nace de mi corazón, son mis palabras, las
            que mi alma
            me trajo
            como camino de sanación. Hoy deseo compartirlas y hacer de este espacio un lugar nuestro. Hay
            textos, escritos de mi alma para tu alma si le resuenan, y hay audios, ya que sentí que escuchar
            una vos amiga muchas veces nos calma. Espero que lo disfrutes y sientas y que lo hagas tu espacio.
            Te leo, te agradezco y te abrazo.</p>
    </div>

    <div class="div-footer"><img src="static/images/piespiedras.webp" width="200" height="150" alt=""></div>

</div>
{{> chatbtn}}

{{> footer}}