<div class="container-principal">
    <div class="container-sing">
        <h2 class="h2sing">Iniciar sesión</h2>
        <form id="formlogin" class="formsing">
            <label class="labelsing">Email:</label>
            <input class="inputsing" type="text" name="email">
            <label class="labelsing">Contraseña</label>
            <input class="inputsing" type="password" name="password">
            <button id="btnLogin" class="btnsing">Login</button>
        </form>
        <p class="psing">No tienes cuenta? <a href="/register" class="asing">Registrarse</a></p>
        <div id="errorfieldlogin" class="errorsing"></div>
        <p><a href="/" class="panel-user-link"><i class="bi bi-arrow-left arrow-back"></i>Volver al inicio</a></p>
    </div>
</div>

<script src="/js/login.js"></script>