    <nav>
        <ul class="navbuttons">
            <li>
                <button class="btnnav" onclick="navegar('/')"><a href="/" class="btnnav-a">Volver al inicio</a></button>
            </li>
        </ul>
    </nav> 
<div class="container-principal">
<div class="container-sing">
    <h2 class="h2sing">Registrate</h2>
    <form class="formsing" id="formregister">
        <label class="labelsing">Nombre:</label>
        <input class="inputsing" type="text" name="name">
        <label class="labelsing">Email:</label>
        <input class="inputsing" type="email" name="email">
        <label class="labelsing">Contraseña</label>
        <input class="inputsing" type="password" name="password">
        <button class="btnsing" id="btnSignin">Registrarse</button>
    </form>
    <p class="psing">Ya tienes cuenta?<a class="asing" href="/login">Iniciar sesion</a></p>
    <div id="errorfieldregister" class="errorsing"></div>
</div>
</div>

<script src="/js/register.js"></script>