<div class="container-principal">
    <div class="container-sing" id="containerId" data-uid="{{uid.uid}}">
        <h2 class="h2sing">Cambiar contraseña</h2>
        <form id="formReset" class="formsing">
            <label class="labelsing">Contraseña:</label>
            <input class="inputsing" type="password" name="password" id="pass">
            <label class="labelsing">Confirmar contraseña</label>
            <input class="inputsing" type="password" name="password" id="confirmpass">
            <button id="btnReset" class="btnsing">Actualizar</button>
        </form>
        <div id="errorfieldpassword" class="errorsing"></div>
    </div>
</div>

<script src="/js/resetpassword.js"></script>