<div class="container-principal">
    <div class="container-sing">
        <h2 class="h2sing">Enviar mail</h2>
        <form id="formsend" class="formsing">
            <label class="labelsing">Email:</label>
            <input class="inputsing" type="text" name="email" id="inputsend">
            <button id="btnSend" class="btnsing">Enviar</button>
        </form>
        <p>Ingrese el email con el que se registró para enviarle un enlace de recuperación a su bandeja de entrada</p>
        <div id="errorfieldemail" class="errorreset"></div>
        <p><a href="/" class="panel-user-link"><i class="bi bi-arrow-left arrow-back"></i>Volver al inicio</a></p>
    </div>
</div>

<script src="/js/sendresetpass.js"></script>