<div>
        {{> navbar adminUser=adminUser userlogued=userlogued}}
    <div class="div-uploadpdf">
        <h3>Subir audio</h3>
        <form class="form-upload" id="formAudio">
            <label>Título:</label>
            <input type="text" name="title">
            <label>Audio:</label>
            <input type="file" name="file">
        </form>
        <button id="btnaudio" class="btnuploadaudio">Subir audio</button>
        <div id="erroraudio" class="erroraudio"></div>
    </div>
    <div class="panel-delete">
        <div class="div-delete">
            <h2>Eliminar audio</h2>
            {{#each audios}}
            <div class="div-delete-pdf">
                <p>{{this.title}}</p>
                <button class="btn-delete-pdf" onclick="borraraudio('{{this._id}}')"><i
                        class="bi bi-x-circle"></i></button>
            </div>
            {{/each}}
        </div>
    </div>
</div>

<script src="/js/uploadaudio.js"></script>