<div>
    {{> navbar admin=admin userlogued=user}}
    <div class="div-uploadpdf">
        <h3>Subir pdf</h3>
        <form class="form-upload" id="formPdf">
            <label>Título:</label>
            <input type="text" name="title">
            <label>Categoría:</label>
            <select name="category" id="selectCategory">
                <option value="libro">Libro</option>
                <option value="escritos-con-magia">escritos con magia</option>
                <option value="el-camino-de-la-sanacion">camino de la sanación</option>
                <option value="lo-que-somos">lo que somos</option>
                <option value="nobles-verdades">nobles verdades</option>
            </select>
            <label>PDF:</label>
            <input type="file" name="file">
        </form>
        <button id="btnPdf" class="btnuploadpdf">Subir pdf</button>
        <div class="loader-container" id="loader">
            <div class="loader"></div>
        </div>
        <div id="errorPdf" class="errorpdf"></div>
    </div>

    <div class="panel-delete">
        <div class="div-delete">
            <h2>Eliminar pdf</h2>
            <div class="body-pdf-category">
                {{> pagination hasPrevPage=hasPrevPage hasNextPage=hasNextPage prevPage=prevPage nextPage=nextPage
                backPages=backPages nextPages=nextPages pages=pages}}
            </div>
            {{#each pdfs}}
            <div class="div-delete-pdf">
                <p>{{this.title}}</p>
                <button class="btn-delete-pdf" onclick="borrarpdf('{{this._id}}')"><i
                        class="bi bi-x-circle"></i></button>
            </div>
            {{/each}}
        </div>
    </div>
</div>

<script src="/js/uploadpdf.js"></script>