<div>
    <nav class="nav">
        <ul class="navbuttons">
            <div class="navbuttons-bar">
                <li>
                    <button class="btnnav" onclick="navegar('/')"><a href="/" class="btnnav-a">Inicio</a></button>
                </li>
                <li>
                    <button class="btnnav actual-principal" onclick="navegar('/uploadpdf')"><a href="/uploadpdf"
                            class="btnnav-a">Subir
                            pdf</a></button>
                </li>
                <li>
                    <button class="btnnav" onclick="navegar('/uploadaudio')"><a href="/uploadaudio"
                            class="btnnav-a">Subir
                            audio</a></button>
                </li>
                <li>
                    <button class="btnnav" onclick="navegar('/book')">
                        <a href="/book" class="btnnav-a">Libro</a>
                    </button>
                </li>
                <li class="dropdown">
                    <button class="dropdown-button">Escritos del alma</button>
                    <ul class="dropdown-content">
                        <li><a href="/escritosconmagia">Escritos con magia</a></li>
                        <li><a href="/caminodelasanacion">El camino de la sanación</a></li>
                        <li><a href="/loquesomos">Lo que somos</a></li>
                        <li><a href="/noblesverdades">Nobles verdades</a></li>
                    </ul>
                </li>
                <li>
                    <button class="btnnav" onclick="navegar('/audios')"><a href="/audios"
                            class="btnnav-a">Audios</a></button>
                </li>
            </div>
            <div>
                <li>
                    <div class="panel-user">
                        <span>{{user.name}}</span>
                        <button onclick="logout()"><i class="bi bi-box-arrow-left"></i></button>
                    </div>
                </li>
            </div>
        </ul>
    </nav>
    <div class="div-uploadpdf">
        <h3>Subir pdf</h3>
        <form class="form-upload" id="formPdf">
            <label>Título:</label>
            <input type="text" name="title">
            <label>Categoría:</label>
            <select name="category" id="selectCategory">
                <option value="libro">Libro</option>
                <option value="escritos con magia">escritos con magia</option>
                <option value="camino de la sanacion">camino de la sanación</option>
                <option value="lo que somos">lo que somos</option>
                <option value="nobles verdades">nobles verdades</option>
            </select>
            <label>PDF:</label>
            <input type="file" name="file">
        </form>
        <button id="btnPdf" class="btnuploadpdf">Subir pdf</button>
        <div id="errorPdf" class="errorpdf"></div>
    </div>

    <div class="panel-delete">
        <div class="div-delete">
        <h2>Eliminar pdf</h2>
            {{#each pdfs}}
            <div class="div-delete-pdf">
                <p>{{this.title}}</p>
                <button class="btn-delete-pdf" onclick="borrarpdf('{{this._id}}')"><i class="bi bi-x-circle"></i></button>
            </div>
            {{/each}}
        </div>
    </div>
</div>

<script src="/js/uploadpdf.js"></script>