.container-principal {
  display: flex;
  flex-flow: column;
  height: 100vh;
  align-items: center;
  justify-content: center; }

.container-sing {
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  width: 400px; }

.h2sing {
  font-size: 24px;
  margin-bottom: 10px; }

.labelsing {
  font-size: 14px;
  display: block;
  margin-top: 4px; }

.inputsing {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px; }

.btnsing {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease; }

.btnsing:hover {
  background-color: #45a049; }

.asing {
  text-decoration: none;
  color: #4caf50;
  font-size: 14px;
  display: block; }

.psing {
  margin-top: 10px; }

.errorsing p {
  color: #f44336;
  font-size: 14px;
  margin-top: 10px; }

.formsing {
  display: flex;
  flex-flow: column nowrap;
  width: fit-content;
  margin: auto;
  gap: 6px; }

.btn-submit {
  margin-top: 1.4rem; }

.btn-inicio {
  margin-top: 0.2rem; }

.title-login {
  margin-bottom: 2.5rem; }

.arrow-back {
  margin-right: 3px; }

.btnnav {
  background-color: #594270;
  padding: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.3s; }
  .btnnav:hover {
    background-color: rgba(89, 66, 112, 0.377); }
  .btnnav-a {
    color: white; }

.navbuttons {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: space-between;
  align-items: center; }
  .navbuttons-bar {
    display: flex;
    margin-left: 5rem; }

.div {
  max-height: 20%; }
  .div-imgnav {
    object-fit: cover;
    width: 100%;
    max-height: 30%; }

.dropdown-button {
  background-color: #594270;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease; }

.actual {
  background-color: #a6a4b4;
  padding: 4px;
  border-radius: 3px; }
  .actual-principal {
    background-color: rgba(89, 66, 112, 0.404);
    padding: 10px;
    border: none;
    cursor: pointer; }

.dropdown-content {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  list-style-type: none;
  padding: 0;
  margin: 0;
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
  opacity: 0;
  transform: translateY(-10px);
  visibility: hidden; }
  .dropdown-content li {
    padding: 12px 16px; }
  .dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    transition: all 0.3s; }
    .dropdown-content a:hover {
      background-color: #f1f1f1;
      border-radius: 3px; }

.dropdown-button:hover + .dropdown-content,
.dropdown-content:hover {
  opacity: 1;
  transform: translateY(0);
  visibility: visible; }

.icon-menu {
  margin-left: 1.4rem;
  display: flex;
  flex-flow: column;
  width: fit-content; }
  .icon-menu i {
    margin: auto;
    font-size: 200%; }

.panel-user {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: end;
  margin: 10px;
  font-size: 16px;
  color: #333;
  width: fit-content; }
  .panel-user a {
    font-size: 90%; }
  .panel-user button {
    background-color: #D14D1C;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    width: fit-content;
    margin-top: 3px; }
  .panel-user button:hover {
    background-color: #d14c1c81; }

.panel-user {
  background-color: #f9f9f9;
  padding: 3px;
  border-radius: 4px; }
  .panel-user-link {
    color: #43178f;
    transition: all 0.3s; }
    .panel-user-link:hover {
      color: #43178f54; }

.div-parrafo-pdf {
  margin-top: 4rem;
  margin-bottom: 2rem; }

.parrafo {
  text-align: center;
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 50%;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 3rem; }
  .parrafo-principal {
    text-align: justify;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    color: #333;
    line-height: 1.6;
    margin-bottom: 0; }
  .parrafo-pdf {
    text-align: center; }

.icon-menu {
  background-color: #f9f9f9;
  padding: 3px;
  border-radius: 4px; }

.pdf-libro {
  margin: auto;
  text-align: center; }

.div-btnsnav-pdf {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  padding: 20px; }

.btn-pdf-nav {
  background-color: #5429b9bd;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 14px;
  cursor: pointer;
  transition: all 0.4s; }
  .btn-pdf-nav:hover {
    background-color: #5429b93b; }

.div-download {
  justify-items: flex-end;
  background-color: #ffffffe3;
  padding: 4px;
  border-radius: 4px;
  width: fit-content;
  margin-bottom: 3rem;
  margin-left: 1rem; }
  .div-download-p {
    text-align: end; }

.pdf-error-message {
  display: none;
  font-size: 18px;
  text-align: center;
  margin-top: 20px; }

.pdf-error-message a {
  color: #3498db;
  text-decoration: underline; }

.pdf-error-message a:hover {
  text-decoration: none; }

.book {
  margin-top: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  max-width: 100%; }
  .book-title {
    margin-top: 2rem;
    color: #594270; }

.img-seccion {
  object-fit: contain;
  width: 13%;
  height: 13%;
  margin-top: 3rem; }

.div-img {
  text-align: center; }

.div-uploadpdf {
  border: 1px solid #ccc;
  padding: 20px;
  width: 300px;
  margin: 0 auto;
  margin-top: 3rem; }
  .div-uploadpdf h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: center; }
  .div-uploadpdf .form-upload label {
    display: block;
    margin-top: 10px; }
  .div-uploadpdf .form-upload input[type="text"],
  .div-uploadpdf .form-upload select,
  .div-uploadpdf .form-upload input[type="file"] {
    width: 100%;
    padding: 8px;
    margin: 6px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; }
  .div-uploadpdf .form-upload select {
    height: 32px; }
  .div-uploadpdf .form-upload input[type="file"] {
    padding: 6px; }

.btnuploadpdf {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; }
  .btnuploadpdf:hover {
    background-color: #45a049; }

.errorpdf span {
  color: #f44336;
  font-size: 14px;
  margin-top: 10px; }

.btnuploadaudio {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; }
  .btnuploadaudio:hover {
    background-color: #45a049; }

.erroraudio span {
  color: #f44336;
  font-size: 14px;
  margin-top: 10px; }

.container-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  max-height: 80vh;
  overflow: hidden; }
  .container-img img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; }

.pdf-section {
  display: grid;
  grid-template-columns: 80% 20%; }
  .pdf-section-show {
    display: flex;
    flex-flow: row wrap; }
  .pdf-section-coments {
    text-align: justify;
    background-color: #f1f0f0d3;
    padding: 3px;
    border-radius: 5px;
    margin: 4px;
    max-width: 100%;
    white-space: normal; }
    .pdf-section-coments p {
      max-width: 100%;
      word-wrap: break-word; }
      .pdf-section-coments p strong {
        max-width: 100%; }
    .pdf-section-coments-all {
      text-align: justify;
      background-color: #f1f0f0d3;
      padding: 3px;
      border-radius: 5px;
      margin: auto;
      margin-top: 4px;
      margin-bottom: 4px;
      max-width: 30%;
      white-space: normal; }
      .pdf-section-coments-all p {
        max-width: 100%;
        word-wrap: break-word; }
        .pdf-section-coments-all p strong {
          max-width: 100%; }
  .pdf-section-each {
    display: flex;
    flex-flow: row wrap;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 2px #494949;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 5px;
    width: 25%;
    margin: 10px;
    justify-items: center; }
    .pdf-section-each-header {
      text-align: center;
      margin: auto; }
    .pdf-section-each h5 {
      margin: 0;
      font-size: 18px; }
    .pdf-section-each p a {
      color: #43178f;
      font-weight: bold; }

.coment-text {
  max-width: 100%; }

.coment-date {
  font-size: 60%;
  text-align: right; }

.div-form-coment {
  margin-top: 1.3rem;
  margin: auto; }
  .div-form-coment-details {
    margin: 2rem 0;
    border-radius: 2px; }

.btn-coment {
  text-align: center;
  margin-top: 7px; }
  .btn-coment button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s; }
    .btn-coment button:hover {
      background-color: #0056b3; }

.p-nocoments {
  text-align: center;
  margin: auto; }

.p-nopdf {
  text-align: center;
  margin: auto; }

.form-coment {
  max-width: fit-content;
  display: flex;
  flex-flow: column;
  margin: auto; }
  .form-coment-details {
    text-align: start;
    margin: auto;
    background-color: #f9f9f9;
    width: fit-content;
    padding: 6px; }
    .form-coment-details label {
      font-weight: bold; }
    .form-coment-details input[type="text"] {
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px; }
  .form-coment-div {
    display: flex; }

.btn-pdf-details {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 1rem; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  background-color: #4e72a12f;
  font-family: 'Nunito', sans-serif; }

a {
  text-decoration: none; }

h1 {
  text-align: center;
  color: #594270;
  margin-top: 1rem; }
