    <div class="div-parrafo-pdf-chat" id="btnDivChat">
        <a href="/chat" class="icon-chat"><i class="bi bi-chat-dots-fill icon-chat"></i></a>
        <span><a href="/chat">Charlamos un rato?</a></span>
    </div>