@import 'pages/variables';
@import 'pages/login';
@import 'pages/nav';
@import 'pages/home';
@import 'pages/book';
@import 'pages/audios';
@import 'pages/uploadpdf';
@import 'pages/uploadaudio';
@import 'pages/showpdfs';
@import 'pages/chats';
@import 'pages/responsive';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    // background-color: #524b7a44;
    background-color: #2e004d2c;
    font-family: 'Nunito', sans-serif;
}

a {
    text-decoration: none;
}

h1{
    text-align: center;
    color: $colorTitle;
    margin-top: 1rem;
}